.product-item {
    overflow: hidden;
    width: 318px;
    height: 486px;
}

.product-name {
    font-size: 2.4rem;
    font-weight: 700;
    // margin-bottom: 10px;
}

.inner {
    background-color: #fff;
    width: 100%;
    height: 350px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image {
    border-radius: 24px;
    width: 302px;
    height: 334px;
    object-fit: cover;
}

.product-tag {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 58px;
    height: 38px;
    background-color: #4a69e2;
    color: #fff;
    border-top-left-radius: 24px;
    border-bottom-right-radius: 24px;

    font-weight: 700;
}

.product-view {
    font-weight: 700;
}

.product-price {
    font-weight: 700;
    color: #ffa52f;
}
