.wrapper {
    margin: 0 auto;
    padding-top: 96px;
    padding-left: 300px;
    padding-right: 60px;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        padding: 10px 20px;
        background-color: #f8f9fa;

        h1 {
            font-size: 24px;
            color: #333;
            font-weight: bold;
        }

        .add-product {
            background-color: #000;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;

            &:hover {
                background-color: #444;
            }
        }
    }

    .product-list {
        display: grid;
        grid-template-columns: repeat(5, 1fr); /* 5 cột bằng nhau */
        gap: 20px;

        .product-card {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 15px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s;

            &:hover {
                transform: translateY(-5px);
            }

            .product-info {
                display: flex;
                align-items: center;

                .product-image {
                    height: 120px;
                    width: 120px;
                    border-radius: 8px;
                    margin-right: 15px;
                }

                .product-details {
                    h2 {
                        font-size: 16px;
                        font-weight: bold;
                        margin: 0;
                    }

                    .price {
                        font-size: 16px;
                        font-weight: bold;
                        color: #07ad20;
                        margin-top: 5px;
                    }
                }
            }

            .summary {
                margin-top: 10px;
                font-size: 14px;
                color: #000;
                line-height: 1.4;
                font-weight: bold;
            }
            .description {
                font-size: 14px;
                color: #666;
                margin-top: 5px;
            }
            .stats {
                display: flex;
                flex-direction: column;
                padding: 10px;
                border: 1px solid #ddd;
                border-radius: 8px;
                margin-top: 10px;

                .stat-item {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    margin-bottom: 10px;

                    p {
                        margin: 0;
                        font-size: 14px;
                    }

                    p:first-child {
                        font-weight: bold; /* Đậm cho tên các mục */
                        color: #575757;
                    }

                    p:last-child {
                        font-weight: bold;
                        color: #ffa52f;
                    }
                }
            }
        }
    }
}
