.wrapper {
    --search-border-radius: 92px;
    --search-height: 40px;
    --search-top-spacer: 8px;
    --search-button-width: 52px;

    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 96px;
    margin-top: 28px;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    height: 100%;
    width: var(--default-layout-width, 1320px);
    background-color: #fff;
    border-radius: 24px;
}

.nav-right {
    display: flex;
    align-items: center;
    width: 310px;
}

.nav-item {
    font-weight: 600;
    margin-right: 24px;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 310px;
}

.action-btn {
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 34px;
}

// User avatar
.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 34px;
    cursor: pointer;
}
