.wrapper {
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    + .wrapper {
        // Cho nut dung sau cach nhau 1 khoang
        margin-left: 8px;
    }

    // Button disabled
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

//Button tyoes
.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgba(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    background-color: var(--color-primary);
    color: var(--white);
    border-color: var(--color-primary);

    &:hover {
        border-color: var(--color-primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)), var(--color-primary);
    }
}

.outline {
    color: var(--color-primary);
    border-color: var(--color-primary);

    &:hover {
        border-color: var(--color-primary);
        background-color: rgba(254, 44, 85, 0.06);
    }
}

// Button sizes
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 136px;
    padding: 14px 16px;
}

// Text
.text {
    &:hover {
        text-decoration: underline;
    }
}

// Icon

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}
