.wrapper {
    display: flex;
    width: 100%;
}

.container-filter {
    flex: 1;
    max-width: 300px; // Adjust as needed
    // padding: 20px;
    border-right: 1px solid #ddd; // Optional: add a border for separation
}

.container-listproduct {
    flex: 3;
    // padding: 20px;
    margin-top: 20px;
}
