.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    padding-left: 270px;
    margin-top: 96px;

    .header {
        width: 100%;
        height: 80px;
        display: flex;
    }

    .contentOrder {
        height: auto;
        margin-bottom: 20px;
        background-color: white;
        border-radius: 10px;

        .contentTop {
            height: 100px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .orderID{    
            width: 400px;
            .id{
                display: flex;
            }
            .tagStatus p{
                background-color: green;
                text-align: center;
                width: 150px;
                height: 40px;
                border-radius: 10px;
                margin-left: 30px;
                padding: 10px;
            
            }
            .schedula{
                display: flex;
                flex-direction: row;   
            }
    }


        .orderStatus {
            display: flex;
            align-items: flex-end;
        }

        .orderStatus select {
            margin-right: 20px;
            height: 40px;
            width: 150px;
            border-radius: 10px;
            background-color: #f1f1f1;
            font-size: 16px;
        }

        .orderStatus button {
            text-align: center;
            margin-right: 20px;
            height: 40px;
            width: 50px;
            border-radius: 10px;
            background-color: #f1f1f1;

            &:hover {
                background-color: #4A69E2;
                color: white;
            }
        }

        .contentBody {
            height: 150px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-bottom: 20px;
        }

        .card {
            border: 1px solid #f1f1f1;
            border-radius: 10px;
            width: 30%;
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            
        }

        .cardIcon  {
            border-radius: 10px;
            width: 60px;
            height: 60px;
            padding: 15px;
            background-color: #4A69E2;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;

            

            .icon {
                width: 40px;
                height: 40px;
                border-radius: 10px;
               
 
            }
           

        }
    }

    .contentProduct {
        border-radius: 10px;
        height: auto;
        background-color: white;
        
        h2{
            font-size: 25px;
        }

        .totalProduct table {
            width: 100%;
            border-collapse: collapse;
        }

        .totalProduct table th {
            padding: 10px;
            text-align: left;
        }

        .totalProduct table td {

            padding: 10px;
            text-align: left;
        }

        .totalProduct table tr:nth-child(even) {
            background-color: #f2f2f2;

        }

        .totalPayment {
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            background-color: white;
        }

        .totalPayment table {
            width: 30%;
        }

        .totalPayment tr td {
            padding: 10px;
            text-align: left;
        }
    }

}